In [ ]:
from collab_based_rec import *
from content_based_rec import *

In [8]:
fav_anime_list = [21]

In [9]:
def show_names(anime_ids, anime_list):
    animes = []
    for anime_id in anime_ids:
        anime_name = anime_list.loc[anime_list['anime_id'] == anime_id, 'Name'].iloc[0]
        animes.append({'anime_id': anime_id, 'Name': anime_name})

    print(pd.DataFrame(animes))

In [38]:
def merge_score(collab_tab, content_tab):
    final_tab = pd.merge(content_tab, collab_tab, on='anime_id', suffixes=('_content', '_collab'), how='left')
    final_tab['recommend_score_collab'] = final_tab['recommend_score_collab'].fillna(0)
    final_tab['recommend_score_content'] = (final_tab['recommend_score_content'] - final_tab['recommend_score_content'].min()) / (final_tab['recommend_score_content'].max() - final_tab['recommend_score_content'].min())

    final_tab['recommend_score_collab'] = (final_tab['recommend_score_collab'] - final_tab['recommend_score_collab'].min()) / (final_tab['recommend_score_collab'].max() - final_tab['recommend_score_collab'].min())
    final_tab['total_score'] = final_tab['recommend_score_content'] + final_tab['recommend_score_collab']
    return final_tab

In [11]:
def recommendation_anime(fav_anime_list):
    collab_tab = get_recommandation_collab_tab(fav_anime_list)
    content_tab = get_recommandation_content_tab(fav_anime_list)
    similarities_tab = merge_score(collab_tab, content_tab)
    
    sorted_df = similarities_tab.sort_values(by='total_score', ascending=False)
    top_anime_ids = sorted_df.head(30)['anime_id'].tolist()
    return top_anime_ids

In [28]:
anime_list = pd.read_parquet('anime/anime.parquet')
show_names(recommendation_anime(fav_anime_list), anime_list)

    anime_id                                               Name
0      36215  One Piece: Episode of East Blue - Luffy to 4-n...
1      12859                                  One Piece Film: Z
2      38234                       One Piece Movie 14: Stampede
3       5252                      One Piece: Romance Dawn Story
4       1237  One Piece: Oounabara ni Hirake! Dekkai Dekkai ...
5       4155                       One Piece Film: Strong World
6        464  One Piece Movie 06: Omatsuri Danshaku to Himit...
7        459                                 One Piece Movie 01
8      50410                                One Piece Film: Red
9       1238              One Piece: Mamore! Saigo no Dai Butai
10     31289  One Piece: Episode of Sabo - 3 Kyoudai no Kizu...
11       462             One Piece Movie 04: Dead End no Bouken
12      8740             One Piece Film: Strong World Episode 0
13       465   One Piece Movie 07: Karakuri-jou no Mecha Kyohei
14       466                  One Piece: Taose! Kaizoku Ganzack
15     15323  One Piece: Episode of Nami - Koukaishi no Nami...
16       460     One Piece Movie 02: Nejimaki-jima no Daibouken
17     33338                           One Piece: Heart of Gold
18      9999                       One Piece 3D: Mugiwara Chase
19      2107  One Piece Movie 08: Episode of Alabasta - Saba...
20      1638                                Peter Pan no Bouken
21       463              One Piece Movie 05: Norowareta Seiken
22     52921     One Piece: Densetsu no Log! Akagami no Shanks!
23     31741                        Magi: Sinbad no Bouken (TV)
24     22043                                  Fairy Tail (2014)
25     19123  One Piece: Episode of Merry - Mou Hitori no Na...
26      5071                                            Croket!
27     16143  One Piece: Kinkyuu Kikaku One Piece Kanzen Kou...
28       461  One Piece Movie 03: Chinjuu-jima no Chopper Ou...
29      1735                                 Naruto: Shippuuden

In [33]:
collab_tab = get_recommandation_collab_tab(fav_anime_list)
content_tab = get_recommandation_content_tab(fav_anime_list)
final_tab = pd.merge(content_tab, collab_tab, on='anime_id', suffixes=('_content', '_collab'), how='left')
#final_tab['recommend_score_collab'] = final_tab['recommend_score_collab'].fillna(0)
#final_tab['total_score'] = final_tab['recommend_score_content'] + 100*final_tab['recommend_score_collab']

In [34]:
final_tab['recommend_score_collab'] = final_tab['recommend_score_collab'].fillna(0)

In [35]:
final_tab['recommend_score_content_norm'] = (final_tab['recommend_score_content'] - final_tab['recommend_score_content'].min()) / (final_tab['recommend_score_content'].max() - final_tab['recommend_score_content'].min())

final_tab['recommend_score_collab_norm'] = (final_tab['recommend_score_collab'] - final_tab['recommend_score_collab'].min()) / (final_tab['recommend_score_collab'].max() - final_tab['recommend_score_collab'].min())

In [36]:
final_tab['total_score'] = final_tab['recommend_score_content_norm'] + final_tab['recommend_score_collab_norm']
final_tab.sort_values(by='total_score', ascending=False)

,anime_id,recommend_score_content,recommend_score_collab,recommend_score_content_norm,recommend_score_collab_norm,total_score
244,269,0.333806,0.028739,0.583297,1.000000,1.583297
114,136,0.339100,0.014749,0.627506,0.513199,1.140705
10,20,0.337348,0.012610,0.612879,0.438800,1.051679
13407,36215,0.383702,0.000000,1.000000,0.000000,1.000000
6822,12859,0.383244,0.000000,0.996171,0.000000,0.996171
...,...,...,...,...,...,...
6342,10757,0.263962,0.000000,0.000000,0.000000,0.000000
9126,24575,0.263962,0.000000,0.000000,0.000000,0.000000
9125,24573,0.263962,0.000000,0.000000,0.000000,0.000000
6341,10756,0.263962,0.000000,0.000000,0.000000,0.000000
8951,23651,0.263962,0.000000,0.000000,0.000000,0.000000

In [37]:
collab_tab

    anime_id  recommend_score
40       269         0.028739
54       790         0.016686
20       136         0.014749
5         20         0.012610
72      1735         0.006699